<html ng-app="myApp">
<head>
  <title>homepage</title>
  <!-- <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script> -->
  <link type="text/css" rel="stylesheet" href="/client/bower_components/bootstrap/dist/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/client/css/style.css">
</head>
  <body>

    <div class="container" ng-controller="mikaController">

        <div id="chat">
          <div>
            <p>{{mika}}</p>
          </div>


        </div>

        <div>
          <form>
            <div id="typeMessage" class="input-group">
              <input style="border-top-left-radius: 0" class="form-control" placeholder="Type a message..." type="text/html" name="message" ng-model="question">
              <span class="input-group-btn">
                <button style="border-top-right-radius: 0" class="btn btn-default" type="submit" ng-click="askMika()">Send</button>
              </span>
            </div>
          </form>
        <!-- /input-group -->
        </div>




     </div>
     <script type="text/javascript" src= "/client/node_modules/jquery/dist/jquery.js" ></script>
     <script type="text/javascript" src= "/client/node_modules/angular/angular.js" ></script>
     <script type="text/javascript" src= "/client/node_modules/angular-route/angular-route.js" ></script>
     <script type="text/javascript" src= "/client/app.js" ></script>
    <script src="/client/node_modules/jquery/dist/jquery.js"></script>
	<script src="/client/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
