<html ng-app="myApp">
<head>
  <title>homepage</title>
  <!-- <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script> -->
  <link type="text/css" rel="stylesheet" href="/client/bower_components/bootstrap/dist/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/client/css/style.css">
</head>
  <body>
    <!-- <ng-view></ng-view> -->
    <h1>Hello World</h1>

    <div class="container">
    	<div class="row">
    		<div class="col-md-12" ng-controller="mikaController">
          <div>
            <form>
                     message: <input type = "text" name = "message" ng-model="question">
                     <button class="btn btn-primary btn-lg" type = "submit" ng-click="askMika()"> Send </button>
            </form>
            <p>{{ mika }}</p>
          </div>
    		</div>
    	</div>
     </div>
     <script type="text/javascript" src= "/client/node_modules/angular/angular.js" ></script>
     <script type="text/javascript" src= "/client/node_modules/angular-route/angular-route.js" ></script>
     <script type="text/javascript" src= "/client/app.js" ></script>
    <script src="/client/node_modules/jquery/dist/jquery.js"></script>
	<script src="/client/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
