<html ng-app="myApp">
<head>
  <title>homepage</title>
  <!-- <script type="text/javascript" src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script> -->
  <link type="text/css" rel="stylesheet" href="/client/bower_components/bootstrap/dist/css/bootstrap.css">
  <link type="text/css" rel="stylesheet" href="/client/css/style.css">
</head>
  <body>

    <div class="container">
    	<div class="row">
    		<div class="col-md-12" ng-controller="mikaController">

          <div class="input-group add-on center-block">
		         <form class="form-inline">
		            <input class="form-control" placeholder="Type a message..." ng-model="question" name="message" type="text">
		            <span class="input-group-btn center-block">
			             <button class="btn btn-default" type="submit" ng-click="askMika()">Send</i></button>
		            </span>
	           </form>
	        </div>
          <div class="center-block">
            <p>Mika: {{ mika }}</p>
          </div>
    		</div>
    	</div>
     </div>
     <script type="text/javascript" src= "/client/node_modules/angular/angular.js" ></script>
     <script type="text/javascript" src= "/client/node_modules/angular-route/angular-route.js" ></script>
     <script type="text/javascript" src= "/client/app.js" ></script>
    <script src="/client/node_modules/jquery/dist/jquery.js"></script>
	<script src="/client/bower_components/bootstrap/dist/js/bootstrap.js"></script>
  </body>
</html>
